#products{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.product{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}


